<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سياسة الخصوصية</title>
</head>
<body style="background-color:#094b25; color: white;">
    

    صفحة سياسة الخصوصية
    في موقع طواف و سعي ، ندرك أن خصوصية معلوماتك الشخصية هامة لك ولنا.
    فيما يلي معلومات حول أنواع المعلومات الشخصية التي نتلقاها ونقوم بجمعها عند زيارات طواف و سعي ، وكيف نقوم بحماية معلوماتك الشخصية.
    ملفات السجل
    كما هو الحال مع معظم مواقع الويب المختلفة، نقوم بجمع واستخدام البيانات الموجودة في ملفات السجل.
    تشمل المعلومات الموجودة في ملفات السجل عنوان بروتوكول الإنترنت (IP) الخاص بك، ومزود خدمة الإنترنت (ISP)، والمتصفح الذي استخدمته لزيارة موقعنا، والوقت الذي قمت فيه بالزيارة، والصفحات التي قمت بزيارتها عبر موقعنا.
    ملفات تعريف الارتباط
    نحن نستخدم ملفات تعريف الارتباط لنمنحك أفضل تجربة أستخدام ممكنة على موقع بسيط، لمزيد من المعلومات حول ملفات تعريف الارتباط ، تفضل بزيارة: http://www.allaboutcookies.org/.
    ملفات تعريف الارتباط الأساسية
    تعد ملفات تعريف الارتباط الأساسية ضرورية لك للتنقل والتنقل في جميع أنحاء الموقع، ولا تخزن أي معلومات يمكن استخدامها لأغراض الدعاية، بدون ملفات تعريف الارتباط الأساسية، لن يعمل موقعنا بشكل صحيح.
    ملفات تعريف الارتباط المخصصة
    تخزن ملفات تعريف الارتباط هذه المعلومات ، مثل تفضيلاتك الشخصية ، وتستخدمها لتخصيص تجربة فريدة لك.
    قد يشمل ذلك عرض نافذة منبثقة مرة واحدة فقط في زيارتك ، أو حفظ تفضيلات اللغة الخاصة بك ، أو السماح لك بتسجيل الدخول تلقائيًا إلى بعض ميزاتنا.
    ملفات تعريف الارتباط في Analytics
    تلتقط ملفات تعريف الارتباط من Analytics بيانات مجهولة المصدر حتى نتمكن من رؤية الاتجاهات وتحسين تجربة موقعنا على الويب.
    هذه تتيح لنا اختبار تصميمات مختلفة ، وتساعدنا على تحديد الكسر إذا كان جزء من موقعنا لا يعمل.
    ملفات تعريف الارتباط للإعلانات
    قد يستخدم بعض المعلنين من الجهات الخارجية ملفات تعريف الارتباط أو إشارات الويب عند الإعلان على موقعنا.
    سيقوم هؤلاء بإرسال معلومات إلى هؤلاء المعلنين (مثل Google من خلال برنامج Google AdSense) بما في ذلك عنوان IP الخاص بك ، ومزود خدمة الإنترنت ، والمتصفح الذي استخدمته لزيارة موقعنا ، وفي بعض الحالات معلومات حول ما إذا كنت قد قمت بتثبيت Flash.
        •	يستخدم موردو الجهات الخارجية، بمن فيهم Google، ملفات تعريف ارتباط لعرض الإعلانات بناءً على زيارات المستخدم السابقة لموقعنا الإلكتروني أو لمواقع أخرى على الويب.
        •	ستتمكّن Google وشركاؤها، باستخدام ملفات تعريف الارتباط للإعلانات، من عرض الإعلانات للمستخدمين لديك استنادًا إلى زياراتهم لموقعنا و/أو مواقع أخرى عبر الإنترنت.
        •	يمكن للمستخدمين تعطيل استخدام الإعلانات المخصصة عن طريق الانتقال إلى إعدادات الإعلانات.
    إذا لم يتم اختيار تعطيل عرض إعلانات الأطراف الثالثة، فقد يتم استخدام ملفات تعريف ارتباط موردي أو شبكات إعلانات الأطراف الثالثة الأخرى أيضًا لعرض الإعلانات في موقعنا.
    يستخدم هذا بشكل عام لأغراض الاستهداف الجغرافي على سبيل المثال (عرض الإعلانات SEO في السعودية لشخص ما في السعودية) أو عرض إعلانات معينة بناءً على مواقع محددة تمت زيارتها (مثل عرض إعلانات العقارات لشخص يرتاد مواقع العقارات).
    من خلال الاستمرار في استخدام موقعنا ، فإنك توافق على وضع ملفات تعريف الارتباط على جهازك، يمكنك اختيار تعطيل أو إيقاف تشغيل ملفات تعريف الارتباط أو ملفات تعريف ارتباط الطرف الثالث بشكل انتقائي في إعدادات المتصفح الخاص بك. ومع ذلك ، يمكن أن يؤثر هذا على كيفية تفاعلك مع موقعنا وكذلك مع مواقع الويب الأخرى.
    اذا كان لديك اى سؤال او كان هنا اى مشكلة فى سياسة أستخدام البيانات الخاصة بنا الرجاء المراسلة ع من خلال صفحة الأتصال بنا.
    
    


</body>
</html>